Backup/
Output/
Temp/
999_备份/
.vs/
.ipynb_checkpoints/
EnglishDB/
ChineseDB/
TokenDB/

**/__pycache__/
*.pyc
*.tmp
*.bak
~$*
.DS_Store

.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/